.settings
/logs
/logFile.log
/logFile.2018-05-29.log
/logFile.2018-05-30.log
/logFile*
/.factorypath
.factorypath
/catalog-v001.xml
/warningoutput.txt
/erroroutput.txt
/cfg1.0⁩.sql
/cfg1.0⁩columns.txt
/cfg4.1⁩.sql
/cfg4.1⁩columns.txt
/cfg4.2⁩.sql
/cfg4.2⁩columns.txt
/cfg5.0⁩.sql
/cfg5.0⁩columns.txt
/cfg5.1.sql
/cfg5.1columns.txt
/cfg5.1⁩.sql
/cfg5.1⁩columns.txt
/cfg5.2⁩.sql
/cfg5.2⁩columns.txt