<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
<script>
    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
    }

    function onLoad() {
      gapi.load('auth2', function() {
        gapi.auth2.init();
      });
    }
</script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<meta name="google-signin-client_id" content="540165369039-hbrbaq5mil261qjpb6b3c61q71ntct7h.apps.googleusercontent.com"/>
</head>
<body onload="document.f.username.focus();">  
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="http://www.thymeleaf.org"> Thymeleaf -
					Plain </a>
				<ul class="nav">
					<li><a th:href="@{/}" href="home.html"> Home </a></li>
				</ul>
			</div>
		</div>
		<div class="content">
			<p th:if="${param.logout}" class="alert">You have been logged out</p>
			<p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
			<h2>Login with Username and Password</h2>
			<form name="form" th:action="@{/signin}" action="/signin" method="POST">
				<fieldset>
					<input type="text" name="username" value="" placeholder="Username" />
					<input type="password" name="password" placeholder="Password" />
				</fieldset>
				<input type="submit" id="login" value="Login"
					class="btn btn-primary" />
			</form>
			<h2>Or Login with</h2>
			<div class="g-signin2" 
   data-onsuccess="onSignIn"
   data-scope="https://www.googleapis.com/auth/plus.login"
   data-accesstype="offline"
   data-redirecturi="https://www.example.com/redirect_uri"></div>
				<a href="#" onclick="signOut();">Sign out</a>
		</div>
	</div>
</body>
</html>